* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #808080;
  color: white;
  letter-spacing: 1px;
  transition: width 450ms;
}

.container:hover,
.container:focus {
  width: 250px;
}

.container:hover .name-menu {
  display: none;
}

.name-menu {
  writing-mode: vertical-rl;
}

.menu {
  position: absolute;
  top: 5%;
  left: -1000%;
  text-transform: uppercase;
  list-style: none;
  transition: display, left 450ms;
}

.container:hover .menu {
  display: block;
  top: 5%;
  left: 50px;
}

.menu li:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #f69f02;
  border: 1px solid black;
  margin-right: 10px;
  transform: translate(0, -50%) rotate(45deg);
}

.item-menu {
  margin-bottom: 15px;
}

.item-menu:hover {
  color: #f69f02;
  cursor: pointer;
}
