.squer {
  width: 100px;
  height: 100px;
  background-color: #c38888;
  box-shadow: 20px 20px 60px #9e6e6e, -20px -20px 60px #e8a2a2;
  animation: squer-moving 6000ms ease infinite,
    squer-background-color 6000ms linear infinite;
}

@keyframes squer-background-color {
  0% {
    background-color: #c38888;
  }
  25% {
    background-color: #776145;
  }
  50% {
    background-color: #5d411b;
  }
  25% {
    background-color: #c98731;
  }
}

@keyframes squer-moving {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 300px);
  }
  50% {
    transform: translate(300px, 300px);
  }
  75% {
    transform: translate(300px, 0);
  }
  100% {
    transform: translate(0);
  }
}
